@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #b988f0;
  --toastify-color-success: #b988f0;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

input[type='range'] {
  // &::-webkit-slider-runnable-track {
  //   background: #b988f0;
  //   // height: 0.5rem;
  // }
  &::-webkit-slider-thumb {
    background: #fff;
    border: 2px solid #b988f0;
    height: 14px;
    width: 14px;
    border-radius: 50%;
  }
}

.nav__link-item {
  @apply border-b border-gray-100 py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-50 md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary;
}

.slick-slider {
  @apply relative;

  .slick-arrow {
    @apply absolute z-10;
  }
  .slick-prev {
    @apply left-0 top-[40%];
  }
  .slick-prev:before {
    @apply text-3xl text-gray-600;
  }
  .slick-next {
    @apply right-2 top-[40%];
  }
  .slick-next:before {
    @apply text-3xl text-gray-600;
  }
  .slick-list {
    @apply overflow-hidden;
  }
}

.logo {
  font-size: 34px;
  font-family: 'Righteous', cursive;
}

.app {
  @apply relative h-screen w-full;
  ::-webkit-scrollbar {
    display: none;
  }
}

input[type='file'] {
  z-index: -1;
  position: absolute;
  opacity: 0;
}

.tab__title {
  @apply text-2xl font-semibold text-gray-600;
}

.button__link {
  @apply flex items-center gap-3 rounded-lg px-3 py-1 font-medium text-primary hover:bg-primary hover:text-white focus:outline-none md:py-1.5;
}

.side__nav-icon > svg {
  @apply h-5 w-5;
}

.sketch-picker {
  // width: 170px !important;
  background: rgba(255, 255, 255, 0.25) !important;
  // box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07) !important;
  box-shadow: none !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  // border: 1px solid rgba(255, 255, 255, 0.18) !important;
  border-radius: 6px !important;
}

.sketch-picker > div:nth-child(3) {
  // display: none !important;
}

.custom__border {
  height: 0.1875rem;
  width: 100%;
  background-position-x: -1.875rem;
  background-size: 7.25rem 0.1875rem;
  margin: 8px 0;
  background-image: repeating-linear-gradient(
    45deg,
    #6fa6d6,
    #6fa6d6 33px,
    transparent 0,
    transparent 41px,
    #f18d9b 0,
    #f18d9b 74px,
    transparent 0,
    transparent 82px
  );
}
